{*
    margin: 0;
    paddng: 0;
}

.cabecalho {
background-color: rgb(13, 85, 151);
padding: 15px 25px;
display: flex;
justify-content: space-between;
alingn-intems: center;
}

.cartao {
    width: 260px;
    height: 200px;
}

.cartao-imagem {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}